<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam.curriculumvitae">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActInfoPessoais"
            android:label="@string/title_activity_act_info_pessoais"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActObjetivo"
            android:label="@string/title_activity_act_objetivo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActFormacao"
            android:label="@string/title_activity_act_formacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActFormacaoOperation"
            android:label="@string/title_activity_act_formacao_operation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActExperiencia"
            android:label="@string/title_activity_act_experiencia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActExperienciaOperation"
            android:label="@string/title_activity_act_experiencia_operation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActTelaInicial"
            android:label="@string/title_activity_act_tela_inicial"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActCurso"
            android:label="@string/title_activity_act_curso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActCursoOperation"
            android:label="@string/title_activity_act_curso_operation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActQualificacao"
            android:label="@string/title_activity_act_qualificacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActQualificacaoOperation"
            android:label="@string/title_activity_act_qualificacao_operation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActIdioma"
            android:label="@string/title_activity_act_idioma"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActIdiomaOperation"
            android:label="@string/title_activity_actidioma_operation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>